default: &default
  adapter: postgresql
  encoding: unicode
  host: postgres_db
  username: postgres
  password: password
  pool: 5

development:
  <<: *default
  database: app_development

test:
  <<: *default
  host: postgres_db
  password: password
  database: app_test

production:
  <<: *default
  database: app_production
