default: &default
  adapter: postgresql
  encoding: unicode
  host: postgres_db
  username: postgres
  password: password
  pool: 5

development:
  <<: *default
  database: app_development

test:
  <<: *default
  host: postgres        # CI 用に上書き
  password: postgres    # CI のパスワードに合わせる
  database: app_test

production:
  <<: *default
  database: app_production
